<div class="team">
    <ul>
        <li>Primetzhofer Vanessa</li>
        <p class="jobdesc">Teamleader and Problemsolver</p>
        <span class="material-icons">person</span>
        <li>Steigersdorfer Marah</li>
        <p class="jobdesc">Best Backend Programmer of the year</p>
        <span class="material-icons">person</span>
        <li>Turner Isabel</li>
        <p class="jobdesc">Just along for the ride</p>
        <span class="material-icons">person</span>
        <li>Raffeiner Christine</li>
        <p class="jobdesc">New addition to our team</p>
        <span class="material-icons">person</span>
    </ul>
</div>